html, body, h1, p{
    margin:0;
    padding:0;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fafafa;
}

h1{ font-weight: 400; }

.separator {}

.screen {
    width: 100%;
    text-align: center;
}

header.title {
    padding: 20px;
    background: #839ace;
    color: #fafafa;
}

.search-bar {
    padding: 9px 0 14px;
    position: relative;
    border-bottom: 1px solid #f5f0f0;
}

.search-bar input[type="text"] {
    width: 92%;
    padding: 10px;
    border: 1px solid #d2cbcb;
    color: #3d3d3d;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
}

.search-bar button.btn-search {
    position:absolute;
    z-index:1;
    right: 9px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-left: 1px solid #f1ecec;
}


ul.category-list {
    list-style: none;
    padding: 0 20px;
}

ul.category-list li.category{
    text-align: left;
}

ul.category-list li.category a {
    display: block;
    padding: 11px 0;
    border-bottom: 1px solid #d4cccc;
    text-decoration: none;
    color: #3e3e3e;
}

ul.category-list li.category a:hover{
    border-bottom: 1px solid #000;
}

.medicine-container .medicine {
    border-bottom: 1px dashed #bdbdbd;
    padding: 0 10px 20px;
    text-align: left;
}

.medicine .medicine-meta {font-style: italic;color: #415453;}

.medicine h4.medicine-name {
    margin: 10px 0;
}